* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "FantasqueSansM Nerd Font";
    font-size: 13px;
}

window#waybar {
background-color: rgba(0, 0, 0, 0);
border-radius: 0px 0px 10px 10px;
}

.modules-left {
    background-color: rgba(40,42,54, 0.5);
    border-radius: 15px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
}
.modules-center {
    background-color: rgba(40,42,54, 0.5);
    border-radius: 15px;
    margin-left: 0px;
    padding: 5px 5px 5px 5px;
}

.modules-right {
    background-color: rgba(40,42,54, 0.5);
    border-radius: 15px;
    margin-left: 0px;
    padding: 0px 0px 0px 5px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 5px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #AEC6CF;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: red;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mpd {
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: #ffffff;
}

#clock {
    color: #FF6961;
}

#pulseaudio {
    color: #AAEAAA;
}

#network {
    color: #C3B1E1;
}

#memory {
    color: #FAC898;
}

#cpu {
    color: #DFC7A7;
}

#temperature {
   color: #FF6961;
}

#window,
#workspaces {
    margin: 0 4px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
